<app-toasts />

<div>
  @if (authService.isAuthenticated()) {
    <app-sidebar />
  }

  <div class="content p-4">
    @if (authService.isAuthenticated()) {
      <div class="d-flex align-items-center mb-3">
        <!-- Botão para abrir a sidebar (offcanvas) -->
        <button
          class="btn btn-outline-secondary me-3"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasSidebar"
          aria-controls="offcanvasSidebar"
          aria-label="Abrir menu"
        >
          <i class="bi bi-layout-sidebar"></i>
        </button>

        <h5 class="mb-0" [innerHTML]="pageTitle()"></h5>
      </div>
    }

    <router-outlet />
  </div>
</div>
